body {
    font-size: 100%;
    font-family: 'Hind', sans-serif;
}

.contain {
	@include outer-container();
    @include break-at(1200) {
        padding: 0 1.25rem;
    }
}

li {
    list-style-type: none;
}

a {
    color:inherit;;
}   


