button {
    padding: .6em 1.25em .6em 1.25em;
    @include transition(all .25s ease-out);
	&.not-active {
		opacity:.25;
		background:#ccc;

	}
	&.active {
		opacity:1;
		background:$orange;
		cursor:pointer;
		color:#fff;
		&:hover {
			background:darken($orange, 10%);
		}
	}
}