.zone-wrapper {
	@include span-columns(6);
}
.zone {
	@include span-columns(2 of 6);
	@include omega(3n);
	text-align: center;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom:1.5em;
	box-shadow: 1px 2px 2px 0 rgba(0,0,0,.15);
	cursor:pointer;
	&.active {
		border:3px solid $gray;
		.zone-name {
			 background: $blue;
		}
	}
	&:hover {
		.zone-name {
			 background: $blue;
		}
	}

	@include break-at(900) {
		@include span-columns(3 of 6);
		@include omega-reset(3n, 6); // remove our previously defined omega item on the last row item and set new context (columns)
      	@include omega(2n);
	}
}
.zone-name {
	@include transition(all .25s ease-out);
	padding: 1.75em 0;
    font-size: 1rem;
    font-weight: 600;
    background: $green-light;
    border-bottom: 5px solid $blue;
    color:#fff;
    text-transform:uppercase;
}
.zone-info-wrapper {
	width:100%;
	.zone-info {
		width:50%;
		float:left;
	    font-size: .95rem;
	    padding:1.25em 0;
	    border-bottom:1px solid #ccc;
	    &:first-child {
	    	border-right:1px solid #ccc;
	    }
	}
	.info {
		display: block;
    	color: #999;
    	font-size: 1.1rem;
    	margin-top: .15em;
	}
}

@include break-at(675) {
	.zone-wrapper {
		@include span-columns(10);
	}
}
