.zone-wrapper {
	@include span-columns(6);
	cursor:pointer;
}
.zone {
	@include span-columns(2 of 6);
	@include omega(3n);
	text-align: center;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom:1.5em;
	box-shadow: 1px 2px 2px 0 rgba(0,0,0,.15);
	&.active {
		border:3px solid $gray;

		.zone-name {
			 background: $blue;
		}
	}
}
.zone-name {
	padding: 1.75em 0;
    font-size: 1rem;
    font-weight: 600;
    background: $green-light;
    border-bottom: 5px solid $blue;
    color:#fff;
    text-transform:uppercase;
}
.zone-info-wrapper {
	width:100%;
	.zone-info {
		width:50%;
		float:left;
	    font-size: .95rem;
	    padding:1.25em 0;
	    border-bottom:1px solid #ccc;
	    &:first-child {
	    	border-right:1px solid #ccc;
	    }
	}
}
.zone-dashboard {
	@include span-columns(4);
	p {
		margin-bottom:1em;
	}
	.rw-widget.rw-numberpicker {
		border:1px solid #ccc;
		width:16em;
		margin-bottom:2em;
	}
	.number-label {
		margin-bottom:.5em;
	}
}
.app-panel {
	border: 1px solid #ccc;
	box-shadow: 1px 2px 2px 0 rgba(0,0,0,.15);
	border-radius:3px;
	margin-bottom:2em;

	.loader {
		width:100px;
		display:block;
		margin:0 auto;
		padding-bottom:.5em;
	}
}
.app-panel-inner {
	padding:1rem;
}